@import url('header/header.css');
@import url('footer/footer.css');
@import url('block/main.css');
@import url('button.css');

body {
    background-color: #F5F5F5;
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

#content {
    width: 100%;
    height: 30rem;
}

@media (max-width: 700px) {
    #content {
        height: 100%;
    }
}



.block {
    gap: 0.4rem;
    width: 55rem;
    max-height: auto;
}

.tabs {
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
}

.tabs .item {
    padding: 0.5rem 1rem;
}

.tabs .item.active {
    font-size: 1rem;
}

.tabs .item:hover {
    background-color: #ebebeb;
}

.form {
    display: flex;
    flex-direction: column;
}

.form textarea, .form input {
    resize: none;
    outline: none;
    border: 1px solid #98ff9f;
    padding: 0.3125rem;
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
}

#title {
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    font-weight: bold;
}