@import url('logo.css');
@import url('options.css');
@import url('auth.css');

header {
    display: flex;
    box-shadow: 0px 8px 40px -5px rgba(9, 31, 67, 0.10);
    align-items: center;
    padding: 0.5rem;
}

header .inner {
    display: flex;
    margin-inline: auto;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 700px) {
    header {
        padding: 0.5rem 1rem;
    }

    header .inner {
        justify-content: space-between;
        gap: auto;
        width: 100%;
    }
}